.mainContainer {
    width: 1024px;
    height: 420px;
    margin: 50px auto;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer h1 {
    font-weight: normal;
}